#linksBoxCard {
    border: solid 3px black;
    width: 100%;
    margin-top: 20px;
}

#linksBtn {
    width: 125px;
    align-items: center;
    background-color: white;
    border: #1a1919 2px solid;
    opacity: 100%;
}

#linkImg {
    width: 100px;
    /* background-color: white; */
}