.linkimg{
    width: 25px;
    height: 25px;
    margin: auto;
}

.linkbtn {
    background-color: whitesmoke !important;
    border: 2px solid black !important;
    margin: auto !important;
    width: 50px;
    height: 45px;

}